<a href="https://colab.research.google.com/github/MasterLWA/Python-Basics-for-Data-Science/blob/main/learn_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd #imported pandas

In [ ]:
#data
#one column is we called as Series
#combination of series are DataFrame
data = {
   'ages': [14, 18, 24, 42],
   'heights': [165, 180, 176, 184]
}

In [ ]:
df = pd.DataFrame(data) #created dataFrame from 2 series

#print it
print(df)

   ages  heights
0    14      165
1    18      180
2    24      176
3    42      184

The DataFrame automatically creates a numeric index for each row.
**We can specify a custom index, when creating the DataFrame âœ¨**

In [ ]:
df = pd.DataFrame(data, index=['James', 'Bob', 'Amy', 'Dave'])
print(df)

       ages  heights
James    14      165
Bob      18      180
Amy      24      176
Dave     42      184

In [ ]:
#we can access a row using its index and the loc[] function
print(df.loc["Amy"])

ages        24
heights    176
Name: Amy, dtype: int64

In [ ]:
#print specific column/Series
print(df["ages"])

James    14
Bob      18
Amy      24
Dave     42
Name: ages, dtype: int64

In [ ]:
#Pandas uses the iloc function to select data based on its numeric index.
x = df.iloc[2]
print(x)

ages        24
heights    176
Name: Amy, dtype: int64

# Reading data
* It is quite common for data to come in a file format. One of the most popular
formats is the CSV (comma-separated values).
* read_csv() function reads the data of a CSV file into a DataFrame

In [ ]:
df = pd.read_csv("https://www.sololearn.com/uploads/ca-covid.csv")

* We can get the first rows of the data using the head() function
* **By default it returns the first 5 rows**

In [ ]:
df.head()

       date       state  cases  deaths
0  25.01.20  California      1       0
1  26.01.20  California      1       0
2  27.01.20  California      0       0
3  28.01.20  California      0       0
4  29.01.20  California      0       0

can instruct it to return the number of rows you would like as an argument

In [ ]:
df.head(20)

        date       state  cases  deaths
0   25.01.20  California      1       0
1   26.01.20  California      1       0
2   27.01.20  California      0       0
3   28.01.20  California      0       0
4   29.01.20  California      0       0
5   30.01.20  California      0       0
6   31.01.20  California      1       0
7   01.02.20  California      0       0
8   02.02.20  California      3       0
9   03.02.20  California      0       0
10  04.02.20  California      0       0
11  05.02.20  California      0       0
12  06.02.20  California      0       0
13  07.02.20  California      0       0
14  08.02.20  California      0       0
15  09.02.20  California      0       0
16  10.02.20  California      1       0
17  11.02.20  California      0       0
18  12.02.20  California      0       0
19  13.02.20  California      0       0

* Print last rows of the dataframe

In [ ]:
df.tail(10) #get last 10 rows

         date       state  cases  deaths
332  22.12.20  California  35347     274
333  23.12.20  California  44758     379
334  24.12.20  California  34731     311
335  25.12.20  California  16772      20
336  26.12.20  California  64987     257
337  27.12.20  California  37555      62
338  28.12.20  California  41720     246
339  29.12.20  California  34166     425
340  30.12.20  California  32386     437
341  31.12.20  California  32264     574

* The info() function is used to get information about our dataset

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    342 non-null    object
 1   state   342 non-null    object
 2   cases   342 non-null    int64
 3   deaths  342 non-null    int64
dtypes: int64(2), object(2)
memory usage: 10.8+ KB

* We can set our own index column by using the set_index()
* The inplace=True argument specifies that the change will be applied to our DataFrame, without the need to assign it to a new DataFrame variable.

In [ ]:
# df.set_index('Date')
# print(df.head())

* drop() deletes rows and columns.
* axis=1 specifies that we want to drop a column.
* axis=0 will drop a row.

In [ ]:
df.drop('state', axis=1, inplace=True)
df.head()

       date  cases  deaths
0  25.01.20      1       0
1  26.01.20      1       0
2  27.01.20      0       0
3  28.01.20      0       0
4  29.01.20      0       0

* add new column to dataframe

In [ ]:
df['month'] = pd.to_datetime(df['date'], format="%d.%m.%y").dt.month_name()
df.head()

       date  cases  deaths    month
0  25.01.20      1       0  January
1  26.01.20      1       0  January
2  27.01.20      0       0  January
3  28.01.20      0       0  January
4  29.01.20      0       0  January

* value_counts() returns how many times a value appears in the dataset, also called the frequency of the values.

In [ ]:
df.value_counts('month')

month
August       31
December     31
July         31
March        31
May          31
October      31
April        30
June         30
November     30
September    30
February     29
January       7
dtype: int64

* The groupby() function is used to group our dataset by the given column.
* Similarly, we can use min(), max(), mean(), etc. to find the corresponding values for each group.

In [ ]:
df.groupby('month')['cases'].sum()

month
April          41887
August        210268
December     1070577
February          25
January            3
July          270120
June          119039
March           8555
May            62644
November      301944
October       114123
September     108584
Name: cases, dtype: int64

* little example

In [ ]:
data = {
'a': [1, 2, 3],
'b': [5, 8, 4]
}

df = pd.DataFrame(data)

df['c'] = df['a']+df['b']

print(df.iloc[1]['c'])

10