In [4]:
import pandas as pd #imported pandas

In [5]:
#data
#one column is we called as Series
#combination of series are DataFrame
data = {
   'ages': [14, 18, 24, 42],
   'heights': [165, 180, 176, 184]
}

In [6]:
df = pd.DataFrame(data) #created dataFrame from 2 series

#print it
print(df)

   ages  heights
0    14      165
1    18      180
2    24      176
3    42      184

The DataFrame automatically creates a numeric index for each row.
**We can specify a custom index, when creating the DataFrame âœ¨**

In [7]:
df = pd.DataFrame(data, index=['James', 'Bob', 'Amy', 'Dave'])
print(df)

       ages  heights
James    14      165
Bob      18      180
Amy      24      176
Dave     42      184

In [8]:
#we can access a row using its index and the loc[] function
print(df.loc["Amy"])

ages        24
heights    176
Name: Amy, dtype: int64

In [9]:
#print specific column/Series
print(df["ages"])

James    14
Bob      18
Amy      24
Dave     42
Name: ages, dtype: int64

In [10]:
#Pandas uses the iloc function to select data based on its numeric index.
x = df.iloc[2]
print(x)

ages        24
heights    176
Name: Amy, dtype: int64

# Reading data
* It is quite common for data to come in a file format. One of the most popular
formats is the CSV (comma-separated values).
* read_csv() function reads the data of a CSV file into a DataFrame

In [11]:
df = pd.read_csv("https://www.sololearn.com/uploads/ca-covid.csv")

* We can get the first rows of the data using the head() function
* **By default it returns the first 5 rows**

In [14]:
df.head()

       date       state  cases  deaths
0  25.01.20  California      1       0
1  26.01.20  California      1       0
2  27.01.20  California      0       0
3  28.01.20  California      0       0
4  29.01.20  California      0       0

can instruct it to return the number of rows you would like as an argument

In [15]:
df.head(20)

        date       state  cases  deaths
0   25.01.20  California      1       0
1   26.01.20  California      1       0
2   27.01.20  California      0       0
3   28.01.20  California      0       0
4   29.01.20  California      0       0
5   30.01.20  California      0       0
6   31.01.20  California      1       0
7   01.02.20  California      0       0
8   02.02.20  California      3       0
9   03.02.20  California      0       0
10  04.02.20  California      0       0
11  05.02.20  California      0       0
12  06.02.20  California      0       0
13  07.02.20  California      0       0
14  08.02.20  California      0       0
15  09.02.20  California      0       0
16  10.02.20  California      1       0
17  11.02.20  California      0       0
18  12.02.20  California      0       0
19  13.02.20  California      0       0